.black{
    margin:28px 200px 15px;
    font:italic 45px Arial;
    padding-top: 40px;
}
 .jack{
    display: inline;
    margin-left: 30px;
}
div{
    width: 1180px;
    height: 300px;
    background-color:#A5AAA3;
    margin-left: 120px;
    margin-bottom: 20px;
}
div, p{
    font:normal 40px Arial;
    padding-top: 30px;
    text-align: center;
}
#unica-tabela{
    width: 1000px;
    height: 400px;
    margin-bottom: 25px;
    margin-left: 235px;
    background-color:#F3FEB0;
    margin-top: -70px;
    font:normal 20px Arial;
    padding-left: 200px;
    padding-top: -120px;
    border: solid 3px;
    color:#812F33;
    border-radius: 20px;
}
