#exercicio-js{
    background-color: white;
    margin-left: -30px;
    
}
#tabela{
    color:#705E78;
    background-color: #FEA443;
    font:italic 23px Arial;
    width: 500px;
    height: 270px;
    margin-top: -100px;
    margin-left: 480px;
    padding-left: 100px;
    border-radius: 37px;
    border:solid 3px;
}

