.revisao-js{
    margin-left: 370px;
    margin-bottom: 17px;
}
.descriçao{
   width: 1230px;
   height: 500px; 
   background-color: #90CBFB;
   margin-left: -300px;
}
p{
   font:italic 25px Arial;
   text-align: center;
   padding-top: 30px;
   color:#FFFFFF;
}
.basicos{
    width:1000px;
    height:580px;
    background-color:#110066;
    margin-left: -187px;
    margin-top: -150px;
    border:solid 3px #919191;
    border-radius: 50px;
}
.estilo{
    text-align: center;
    color:#FFFFFF;
    margin-left: 220px;
    padding-top:30px;
    font:italic 23px Arial;
    border:solid 1px #FFD432;
    border-radius: 50px;
}
.dados-pessoais{
    width: 50px;
    height: 43px;
}
.git-hub{
    width: 100px;
    height: 93px;
}
.segunda-tabela{
    font:normal 19px Arial;
    color:#FFFFFF;
    padding-left: 90px;
    padding-top: 40px;
}