*{
    margin: 0;
    padding: 0;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-1 {
    width: 100vh;
   height: 70vh;
}
@media screen and (max-device-width : 600px) {
  .video-1 {
    width: 85%;
    height: 65%;
  }
}