*{
    margin: 0;
    padding: 0;
}
header {
    display:flex;
    background-color: #e28915;
    justify-content: space-between;
    align-items:center;
    height:90px;
    padding: 0 20px;
}
.titulo {
    text-align: center;
}
 input{
    border:solid 2px rgb(129, 119, 119);
    border-radius: 10px;
    width: 40%;
    height: 25%;
    padding-left: 7%;
}
main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-top: 3%;
}
img {
    width: 60%;
    height: 50%;
}
video {
    width: 30px;
    height: 30px;
}
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    font:italic 19px Arial;
    background-color: rgb(31, 29, 29);
    height: 15vh;
    color:white;
}

 /* Aplicação responsiva */

 @media screen and (max-device-width : 600px) {
    
    main {
       
         display: flex;
         flex-direction: column;
        }
        footer {
            display:flex;
            justify-content: center;
            align-items: center;
            font:italic 19px Arial;
            background-color: rgb(31, 29, 29);
            height: 15vh;
            color:white;
        }
 }
